<div ng-controller="TransformerHeaderController">
    <!-- Magic questions -->
    <ons-row>
        <ons-col width="95%">
            <p class="form-header">Defect / No Defect / No Solution</p>
        </ons-col>
        <ons-col>
            <img class="patrol-details-delete-icon" src="images/delete-icon-grey.png" width="60%" height="auto" onclick="deleteConfirmationModal.show('modal')" />
        </ons-col>
    </ons-row>

    <ons-row>
        <ons-col>
            <p class="form-field-text">
                Defect / No Defect / No Solution
            </p>
            <select id="country" name="duration">
                <option value="usa">Defect</option>
                <option value="usa">No Defect</option>
                <option value="usa">No Solution</option>
            </select>
        </ons-col>
    </ons-row>

    <br />
</div>