<div ng-controller="TransformerHeaderController">
    <!-- Pole change - NOT REQUIRED -->
    <ons-row>
        <ons-col width="95%">
            <p class="form-header">Mainline conductor change</p>
        </ons-col>
        <ons-col>
            <img class="patrol-details-delete-icon" src="images/delete-icon-grey.png" width="60%" height="auto" onclick="deleteConfirmationModal.show('modal')" />
        </ons-col>
    </ons-row>

    <ons-row>
        <ons-col>
            <p class="form-field-text">
                Mainline conductor change required?
            </p>
            <select id="country" name="duration">
                <option value="usa"></option>
                <option value="usa">Yes</option>
                <option value="usa">No</option>
            </select>
        </ons-col>
    </ons-row>

    <br />
</div>