<div ng-controller="TransformerHeaderController">
    <!-- Pole change - REQUIRED -->
    <ons-row>
        <ons-col width="95%">
            <p class="form-header">Pole Change Required</p>
        </ons-col>
        <ons-col>
            <img class="patrol-details-delete-icon" src="images/delete-icon-grey.png" width="60%" height="auto" onclick="deleteConfirmationModal.show('modal')" />
        </ons-col>
    </ons-row>

    <!-- Type of pole change -->
    <ons-row>
        <ons-col>
            <p class="form-field-text">
                Type of pole change - IS THIS REQUIRED HERE!!!!
            </p>
            <select id="country" name="duration">
                <option value="usa">IMP</option>
                <option value="usa">Angle pole</option>
                <option value="usa">Service pole</option>
                <option value="usa">Terminal pole</option>
            </select>
        </ons-col>
    </ons-row>

    <!-- Poling option -->
    <ons-row>
        <ons-col>
            <p class="form-field-text">
                Poling option
            </p>
            <select id="country" name="duration">
                <option value="usa">Option 1</option>
                <option value="usa">Option 2</option>
                <option value="usa">Option 3</option>
            </select>
        </ons-col>
    </ons-row>

    <!-- Height -->
    <ons-row>
        <ons-col>
            <p class="form-field-text">
                Height
            </p>
            <div>
                <input class="text-input" type="text" placeholder="Height" required />
            </div>
        </ons-col>
    </ons-row>

    <!-- Surface type -->
    <ons-row>
        <ons-col>
            <p class="form-field-text">
                Surface type
            </p>
            <select id="country" name="duration">
                <option value="usa">Surface type 1</option>
                <option value="usa">Surface type 2</option>
                <option value="usa">Surface type 3</option>
            </select>
        </ons-col>
    </ons-row>

    <!-- Machinery required -->
    <ons-row>
        <ons-col>
            <p class="form-field-text">
                Machinery required?
            </p>
            <select id="country" name="duration">
                <option value="usa"></option>
                <option value="usa">Yes</option>
                <option value="usa">No</option>
            </select>
        </ons-col>
    </ons-row>

    <!-- Mainline conductor change -->
    <ons-row>
        <ons-col>
            <p class="form-field-text">
                Mainline conductor change required?
            </p>
            <select id="country" name="duration">
                <option value="usa"></option>
                <option value="usa">Yes</option>
                <option value="usa">No</option>
            </select>
        </ons-col>
    </ons-row>

    <br />
</div>