<div ng-controller="TransformerHeaderController">
    <!-- Service change - REQUIRED -->
    <ons-row>
        <ons-col width="95%">
            <p class="form-header">Service Change Required</p>
        </ons-col>
        <ons-col>
            <img class="patrol-details-delete-icon" src="images/delete-icon-grey.png" width="60%" height="auto" onclick="deleteConfirmationModal.show('modal')" />
        </ons-col>
    </ons-row>

    <!-- Number of services -->
    <ons-row>
        <ons-col>
            <p class="form-field-text">
                Number of services
            </p>
            <div>
                <input class="text-input" type="text" placeholder="Number of services" required />
            </div>
        </ons-col>
    </ons-row>

    <!-- Type 1 -->
    <ons-row>
        <ons-col width="30%">
            <p class="form-field-text">
                Quantity
            </p>
            <div>
                <input class="text-input" type="text" placeholder="Number" required />
            </div>
        </ons-col>

        <p></p>

        <ons-col>
            <p class="form-field-text">
                Type of
            </p>
            <select id="country" name="duration">
                <option value="usa"></option>
                <option value="usa">2 x 35</option>
                <option value="usa">2 x 45</option>
            </select>
        </ons-col>
    </ons-row>

    <!-- Type 1 -->
    <ons-row>
        <ons-col width="30%">
            <p class="form-field-text">
                Quantity
            </p>
            <div>
                <input class="text-input" type="text" placeholder="Number" required />
            </div>
        </ons-col>

        <p></p>

        <ons-col>
            <p class="form-field-text">
                Type of
            </p>
            <select id="country" name="duration">
                <option value="usa"></option>
                <option value="usa">2 x 35</option>
                <option value="usa">2 x 45</option>
            </select>
        </ons-col>
    </ons-row>

    <!-- Address -->
    <ons-row>
        <ons-col width="30%">
            <p class="form-field-text">
                House no.
            </p>
            <div>
                <input class="text-input" type="text" placeholder="House no." required />
            </div>
        </ons-col>

        <p></p>

        <ons-col>
            <p class="form-field-text">
                Street name
            </p>
            <div>
                <input class="text-input" type="text" placeholder="Street name" required />
            </div>
        </ons-col>
    </ons-row>

    <br />
</div>