<!-- Patrol Sheet - Select Transformer -->

<div ng-controller="TransformerHeaderController">
    <!-- Patrol Sheet - Select Transformer -->
    <ons-row>
        <ons-col width="95%">
            <p class="form-header">Transformer</p>
        </ons-col>
        <ons-col>
            <img class="patrol-details-delete-icon" src="images/delete-icon-grey.png" width="60%" height="auto" onclick="deleteConfirmationModal.show('modal')" />
        </ons-col>
    </ons-row>

    <ons-row>
        <ons-col>
            <p class="form-field-text">
                Select transformer
            </p>
            <select id="country" name="duration">
                <option value="usa">Transformer 1</option>
                <option value="usa">Transformer 2</option>
                <option value="usa">Transformer 3</option>
                <option value="usa">Transformer 4</option>
            </select>
        </ons-col>
    </ons-row>

    <br />
</div>