<div ng-controller="LandAccessMainNavigationController">
    <ons-page>

        <!-- Top navigation bar -->
        <div class="navigation-bar">
            <div class="navigation-bar__left">
                <span class="toolbar-button--quiet navigation-bar__line-height" ng-click="myNavigator.popPage({animation: 'slide'});">
                    <i class="ion-ios-arrow-left" style="font-size:32px; vertical-align:-6px;"></i>
                </span>
            </div>

            <div class="navigation-bar__center">
                Land Access
            </div>

            <div class="navigation-bar__right" onclick="informationModal.show('modal')">
                <span class="toolbar-button--quiet navigation-bar__line-height">
                    <i class="ion-ios-information-outline" style="font-size:32px; vertical-align:-6px;"></i>
                </span>
            </div>
        </div>

        <!-- Scroller -->
        <ons-scroller style="height: 100%; width: 100%">

            <!-- Default Background -->
            <div class="page-header">
                <ons-row class="page-header">
                    <ons-col class="page-header-left" width="30%">
                        <img src="images/land-access-icon-white.png" width="45%">
                    </ons-col>

                    <ons-col .page-header-right>
                        <h4 class="page-header-right header">
                            Land Access
                        </h4>
                        <p class="page-header-right description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </ons-col>
                </ons-row>
            </div>

            <br /><br />

            <ons-list class="plan-list">
                <ons-list-item modifier="chevron" class="plan" ng-repeat="a in [1,2,3,4,5,6,7,8,9,10]">
                    <ons-row>
                        <ons-col width="80px" class="plan-left">
                            <div class="plan-date">Created</div>
                            <div class="plan-duration">12.12.2016</div>
                            <!--label class="switch">
                            <input type="checkbox" class="switch__input">
                            <div class="switch__toggle"></div>
                        </label-->
                        </ons-col>
                        <ons-col width="4px" class="plan-center" ng-style="{backgroundColor:a % 3 == 1 ? '#7cc343' : '#e5514e'}">
                        </ons-col>
                        <ons-col class="plan-right" ng-click="myNavigator.pushPage('land-access-details.html', {animation: 'slide'});" )>
                            <div class="plan-name">Defect #</div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>

            <!-- Displays Modal Information Screen -->
            <ons-modal var="informationModal">
                <div class="alert-dialog-mask"></div>

                <div class="alert-dialog alert-dialog--android">
                    <div class="alert-dialog-title alert-dialog-title--android">
                        <div style="text-align: center">Information</div>
                    </div>

                    <div class="alert-dialog-content alert-dialog-content--android">
                        <div style="text-align: center; padding-top: 10px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px;">
                            <p>
                                <small>
                                    Please select a defect from the list below to complete the <span style="color: #e5514e">Land Access</span> request form.
                                </small>
                            </p>
                        </div>
                    </div>

                    <div class="alert-dialog-footer alert-dialog-footer--one">
                        <button class="alert-dialog-button alert-dialog-button--primal alert-dialog-button--one" ng-click="informationModal.hide()" )>Ok</button>
                    </div>
                </div>
            </ons-modal>
        </ons-scroller>
    </ons-page>
</div>
