<div class="progress">
    <div class="circle done">
        <span class="label">1</span>
    </div>

    <div class="circle done">
        <span class="label">2</span>
    </div>

    <div class="circle done">
        <span class="label">3</span>
    </div>

    <div class="circle done">
        <span class="label">4</span>
    </div>

    <div class="circle active">
        <span class="label">5</span>
    </div>

    <div class="circle">
        <span class="label">6</span>
    </div>
</div>