<!-- Land Access - Select Grid Square -->

<div ng-controller="LandAccessDetailsController">
    <!-- Pole number -->
    <ons-row>
        <ons-col width="95%">
            <p class="form-header">Pole</p>
        </ons-col>
        <ons-col>
            <img class="patrol-details-delete-icon" src="images/delete-icon-grey.png" width="60%" height="auto" onclick="deleteConfirmationModal.show('modal')" />
        </ons-col>
    </ons-row>

    <ons-row>
        <!-- Select pole(s) -->
        <ons-col>
            <p class="form-field-text">
                Select pole(s)
            </p>
            <select id="country" name="duration">
                <option value="usa">LV Pole 1 / Pole 1</option>
                <option value="usa">LV Pole 2 / Not available</option>
                <option value="usa">LV Pole 3 / Not available</option>
                <option value="usa">LV Pole 4 / Pole 4</option>
            </select>
        </ons-col>
    </ons-row>

    <br />
</div>